.App {
  /* text-align: center; */
  min-height: 100vh;
  color: white;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  margin-top: 5px;
}

.App .header-text {
  height: 90vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}